body {
  font-size: small;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
h1, h2 {
    color: #007e7e;
  }
  h1 {
    font-size: 150%;
  }
  p {
    color: maroon;
  }
  em {
    font-family: serif;
  }
  p.greentea {
    color: green;
  }
  p.raspberry {
    color: blue;
  }
  p.blueberry {
    color: purple;
  }